body{
    margin: 0px;
    color:white;
    font-family: 'Bebas Neue', cursive;
    background-image: url(/FrontEnd/Image/BgImg.png);
    width:auto;

}

.TopMenu{
    margin:0px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.TopMenu > h2{
    color: white;
    transition-duration: 0.4s;
    width: 11%;
    height: 5%;
    margin-top: 00px;
    text-align: center;
    font-size: 50px;
    border-radius: 30px;
}
.TopMenu > h2:hover{
    background-color: rgb(218, 214, 214);
    color:black;
}

.Logo{
    width: 5%;
    height: 5%;
    transition-duration: 0.4s;
}

.Logo:hover{
    width: 6%;
    height: 6%;
}

.Cart{
    width: 6%;
    height: 6%;
    transition-duration: 0.4s;
}

.Cart:hover{
    width: 7%;
    height: 7%;
    
}

.catalog{
    margin:3%;
   

}

.SP{
    margin:6%;
    display:flex;
    justify-content: space-between;
}

.SP-container{
    margin: 0px;
    width: 30%;
    height: auto;
    transition-duration: 0.5s;
    border-bottom-left-radius: 20px  ;
    border-bottom-right-radius: 20px  ;

}
.SP-container:hover{
    margin-top: -10px;
    background-color: whitesmoke;

}
.SP-container:hover .SP-container-bottom{
    color:black;
}
.SP-container:hover .SP-container-price{
    color:black;
}

.SPlogo{
    width: 100%;
}

.SP-container-bottom{
    color:white;
    height: 26%;
    text-align: center;
    font-size: 30px;
}

.SP-container-price{
    color:white;
    font-size: 33px;
}
