body{
    margin: 0px;
}

.TopMenu{
    margin:0px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.TopMenu > h2{
    color: white;
    transition-duration: 0.4s;
    width: 11%;
    height: 5%;
    margin-top: 00px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    border-radius: 30px;
}
.TopMenu > h2:hover{
    background-color: rgb(218, 214, 214);
    color:black;
}

.Logo{
    width: 5%;
    height: 5%;
    transition-duration: 0.4s;
}

.Logo:hover{
    width: 6%;
    height: 6%;
}

.Cart{
    width: 5%;
    height: 5%;
    transition-duration: 0.4s;
}

.Cart:hover{
    width: 6%;
    height: 6%;
}