.SamplePack-Name{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 5%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    color: black;
    text-align: center;
    font-size: 30px;
}

.icofont-download{
    width: 20px;
}

.Product-Selected{
    width: 20%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    
}

.Product-A{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.SamplepackCover{
    width: 80%;
    

}

.Description{
    font-size: 170%;
    line-height: 0.6;
    box-sizing: border-box;
    width: 50%;
    color:white;  
    padding-left: 5%;
}

.BuyButton{
    color: white;
    
}
